<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.yansoft.pontoscoleta" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="27" />
	<application android:label="PontosColeta.UserApp.Android">
    <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyD3n7tmOCBhc4ezepHoUJifSTDytfqwHmM" />
    <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
  </application>
</manifest>